$grey-0: #ffffff;
$grey-10: #f8f9ff;
$grey-30: #ccd1ee;
$grey-60: #5e6488;
$grey-80: #2b304e;
$grey-100: #03050f;
$red-rimac: #ff1c44;
$blue-berry: #4f4fff;
$neutral-20: #edeffc;
$neutral-60: #7981b2;
$neutral-70: #141938;
$primary-color: #00f4e2;
$secondary-color: #00ff7f;

$spacing-small: 0.0125rem;
$spacing-minus-small: -0.0125rem;
$spacing-medium: 0.025rem;
$spacing-large: 0.0375rem;
$spacing-minus-large: -0.0375rem;
$spacing-xlarge: 0.05rem;

$font-primary: "Br Sonoma", sans-serif;
$font-secondary: "Lato", sans-serif;

$shadow-card: #aeacf359;
