$grey-0: #ffffff;
$grey-10: #f8f9ff;
$grey-30: #ccd1ee;
$grey-60: #5e6488;
$grey-80: #2b304e;
$grey-100: #03050f;
$red-rimac: #ff1c44;
$primary-color: #00f4e2;
$secondary-color: #00ff7f;

$spacing-small: 0.0125rem;
$spacing-medium: 0.025rem;

$font-primary: "Br Sonoma", sans-serif;
