@use "../../styles/abstracts/variables" as *;
@use "../../styles/utilities/mixins" as *;

.planAndCoverage {
  font-family: $font-secondary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__content {
    margin-top: 2.5rem;
    padding: 0 1.5rem;
    padding-bottom: 5rem;

    @include respond-to(tablet) {
      padding: 0 10rem;
      padding-bottom: 5rem;
      max-width: 85rem;
    }
  }

  &__choosePlan {
    @include flex-center;
    flex-direction: column;
    margin-top: 3.5rem;
    padding: 0 1.5rem;

    @include respond-to(tablet) {
      max-width: 85rem;
    }

    h2 {
      width: 34rem;
      margin-bottom: 1rem;
      font-size: 2.5rem;
      font-weight: bold;
      letter-spacing: $spacing-minus-large;
      line-height: 3rem;
      text-align: center;
    }
    p {
      font-size: 1.5rem;
      font-weight: normal;
      line-height: 1.5rem;
      letter-spacing: $spacing-small;
    }
  }

  &__plans {
    @include flex-center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1.25rem;
  }

  &__skeleton {
    display: flex;
    align-items: center;
  }
}
