@use "./styles/abstracts/variables" as *;
@use "./styles/utilities/mixins" as *;
@use "./styles/base/reset" as *;

body {
  @include flex-column;
  min-height: 100vh;
  font-family: $font-primary;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
