@use "./styles/abstracts/variables" as *;
@use "./styles/utilities/mixins" as *;
@use "./styles/base/reset" as *;

body {
  @include flex-column;
  min-height: 100vh;
  font-family: $font-primary;
  padding: 0 1.5rem;
  max-width: 1360px;
  margin: 0 auto;

  @include respond-to(desktop) {
    padding: 0 10rem;
  }
}
